[submodule "deep-learning-on-udacity"]
	path = deep-learning-on-udacity
	url = git@github.com:mcwehner/learns-deep-learning-on-udacity.git
[submodule "ml-for-hackers"]
	path = ml-for-hackers
	url = git@github.com:mcwehner/learns-ml-for-hackers.git
[submodule "markdown-and-cousins"]
	path = markdown-and-cousins
	url = git@github.com:mcwehner/learns-markdown-and-cousins.git
